body{
	font-family: sans-serif;
}

header{
	display: flex;
	margin:40px 80px;
	border-bottom: 2px solid #DCDCDC;
	padding-bottom: 10px;
}
header #logo{
 	width:200px;
 	margin-left: 50px;

}

header #logo img{
 	width: 100%;
 	
}

#nav{
	flex:2;
	font-size: 20px;
	text-align: center;
	
}

article{
 	display: flex;
 	padding: 40px 80px;
 	margin:40px 80px;
 	background-color: #DCDCDC;
}

aside{
	flex:1;	
}

main{
  	flex:1;
}

.textcenter{
	text-align: center;
}

footer{
	flex:1;
}

h2{flex:0.5; }


a{
	text-decoration: none;
}

a:hover {
	color :blue;
}

